.sidebar
  .header.clearfix
    %h3.header__name USER1
    %ul.header__lists.clearfix
      %li.list
        = link_to "" do
          %i.fa.fa-cog.icon.white
      %li.list
        = link_to "" do
          %i.fa.fa-pencil-square-o.icon.white
  =render"group"

