html,body,.wrapper{
  height:100%;
}

.message-bar{
  background-color:#38AEF0;
  text-align: center;
  color:white;
}

.clearfix:after{
  display:block;
  content:"";
  clear:both;
}

i{
  color:white;
}













