- @messages.each do |message|
  .comment
    .comment__header.clearfix
      .comment__header__title
        %p= message.user.username
      .comment__header__date
        %p= message.created_at
    .comment__content
      .contents
        = message.body
      = image_tag message.image.url if message.image.present?


