.footer
  .footer-box.clearfix
    =form_for [@group,@message] do |f|
      .footer-text
        =f.text_field :body,class:"footer-text__field",placeholder:"type a message"
        .footer-photo
          =f.label :"upload-icon",class:"upload-label" do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
      .footer-btn
        =f.submit "Send",class:"footer-btn__send"